plugin/src/test/resources/default-value-test.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" version="1.0"
  targetNamespace="http://www.kscs.com/jaxb2/contract/test/defaultvalue"
  xmlns:tns="http://www.kscs.com/jaxb2/contract/test/idrefs"
  elementFormDefault="qualified">

  <complexType name="DefaultValueTest">
    <sequence>
      <element name="defaultValueElement" type="string" minOccurs="1" default="My default value of my element!"/>
    </sequence>
    <attribute name="defaultValueAttribute" type="string" use="required" default="My default value of my attribute!"/>
  </complexType>

</schema>
