test-module/src/main/resources/dvb-app.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xin="http://www.w3.org/2001/XInclude" targetNamespace="http://dvb-ns/dvb-app"
		   elementFormDefault="qualified"
		   attributeFormDefault="unqualified" xmlns="http://dvb-ns/dvb-app">

	<xs:import namespace="http://www.w3.org/2001/XInclude" schemaLocation="XInclude.xsd"/>


	<!-- ++++++++++++++++++++ DVB-App Configuration ++++++++++++++++++++ -->

	<xs:element name="dvb-app-config">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="groupId" type="xs:string"/>
				<xs:element name="artifactId" type="xs:string"/>
                <xs:element name="application-context" type="xs:token" minOccurs="0" />
				<xs:element name="registered-apps-resolver" type="xs:anyURI" minOccurs="0"/>
				<xs:element name="application-name" type="xs:string"/>
				<xs:element name="application-subname" type="xs:string" minOccurs="0"/>
				<xs:element name="support-contact" type="name-with-email" minOccurs="0"/>
				<xs:element name="default-xsl-template" type="xs:anyURI" minOccurs="0"/>
				<xs:element name="home-page" type="xs:string" minOccurs="0"/>
				<xs:element name="not-found-page" type="xs:string" minOccurs="0"/>
				<xs:element name="header-links" type="header-links" minOccurs="0"/>
				<xs:element name="actions" type="actions" minOccurs="0"/>
				<xs:element ref="navigation-config" minOccurs="0"/>
				<xs:element name="page" type="page-config" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="rewrite-uri-mapping" type="rewrite-uri-mapping" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="header-links">
		<xs:sequence>
			<xs:element name="header-link" type="header-link" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="header-link">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="uri" type="xs:anyURI"/>
				<xs:attribute name="icon" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="page-config">
		<xs:sequence>
			<xs:group ref="security-information"/>
			<xs:element name="xsl-template" type="xs:anyURI" minOccurs="0"/>
			<xs:element name="feed-navigation" type="feed-navigation" minOccurs="0" maxOccurs="1"/>
			<xs:element name="section" type="page-section" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="page" type="page-config" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="match" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:group name="security-information">
		<xs:sequence>
			<xs:element ref="required-roles" minOccurs="0"/>
		</xs:sequence>
	</xs:group>

	<xs:element name="required-roles">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="role" type="xs:token" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="match-condition" type="match-condition" default="ALL" use="optional"/>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="match-condition">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SINGLE"/>
			<xs:enumeration value="ALL"/>
		</xs:restriction>
	</xs:simpleType>


	<xs:element name="navigation-config">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="active-tree-plugin" type="tree-plugins" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="active-tree-cookie-path" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="action" type="xlink-ref" minOccurs="0" maxOccurs="unbounded"/>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element name="node" type="node"/>
					<xs:element name="nodes-include" type="nodes-include"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="feed-navigation">
		<xs:sequence>
			<xs:element name="parameter" type="named-parameter" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="action" type="xlink-ref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="resource-include" type="resource-include" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="name" use="optional"/>
	</xs:complexType>

	<xs:complexType name="page-section">
		<xs:sequence>
			<xs:element name="action" type="xlink-ref" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="filter-form-include" type="filter-form-include" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="status" type="status" minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice>
				<xs:element ref="xhtml-content"/>
				<xs:element name="resource-include" type="resource-include" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="name" use="optional"/>
		<xs:attribute name="target" type="content-types" use="required"/>
		<xs:attribute name="hidden" type="xs:boolean" use="optional"/>
	</xs:complexType>

	<xs:complexType name="filter-form-include">
		<xs:simpleContent>
			<xs:extension base="xs:anyURI">
				<xs:attribute name="id" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="rewrite-uri-mapping">
		<xs:sequence>
			<xs:element name="rewrite" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="context" type="xs:string" use="required" />
					<xs:attribute name="external-uri" type="xs:anyURI" use="required" />
					<xs:attribute name="internal-uri" type="xs:string" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- ++++++++++++++++++++ DVB-App Instance ++++++++++++++++++++ -->

	<xs:element name="dvb-app">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="action-container">
					<xs:sequence>
						<xs:element name="app-id" type="xs:string"/>
						<xs:element name="browser-title" type="xs:string"/>
						<xs:element name="title" type="xs:string"/>
						<xs:element name="subtitle" type="xs:string" minOccurs="0"/>
						<xs:element name="version" type="xs:string"/>
						<xs:element name="support-contact" type="xlink-ref"/>
						<xs:element name="user" type="xs:string"/>
						<xs:element name="user-role" type="xs:string" minOccurs="0"/>
						<xs:element name="environment" type="xs:string"/>
						<xs:element name="search-bar-template" type="xs:anyURI" minOccurs="0"/>
						<xs:element name="shortcuts" type="xlink-ref-list" minOccurs="0"/>
						<xs:element name="app-shortcuts" type="xlink-ref-list" minOccurs="0"/>
						<xs:element ref="navigation"/>
						<xs:element name="status" type="status" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="page" type="page"/>
						<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="status" mixed="true">
		<xs:attribute name="type" type="status-type" use="required"/>
	</xs:complexType>

	<xs:complexType name="page">
		<xs:choice>
			<xs:sequence>
				<xs:element name="content-views" type="views" minOccurs="0" maxOccurs="unbounded"/>
				<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>

	<xs:element name="navigation">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="first-level-navigation" type="first-level-navigation" minOccurs="1"/>
					<xs:element name="second-level-navigation" type="second-level-navigation" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="xin:include"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="first-level-navigation">
		<xs:complexContent>
			<xs:extension base="action-container">
				<xs:sequence>
					<xs:element name="active-tree-plugin" type="tree-plugins" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="active-tree-cookie-path" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="container-descriptor" type="xs:string" minOccurs="1"/>
					<xs:element name="tag-selector" type="tag-selector" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="template-prompt" type="template-prompt" minOccurs="0" maxOccurs="unbounded"/>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="node" type="node"/>
						<xs:element name="nodes-include" type="nodes-include"/>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="tree-plugins">
		<xs:restriction base="xs:string">
			<xs:enumeration value="html-data"/>
			<xs:enumeration value="json-data"/>
			<xs:enumeration value="xml-data"/>
			<xs:enumeration value="dynamic-modification"/>
			<xs:enumeration value="language-support"/>
			<xs:enumeration value="drag-and-drop"/>
			<xs:enumeration value="checkbox-select"/>
			<xs:enumeration value="search"/>
			<xs:enumeration value="context-menu"/>
			<xs:enumeration value="unique-node"/>
			<xs:enumeration value="user-types"/>
			<xs:enumeration value="whole-row"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="second-level-navigation">
		<xs:complexContent>
			<xs:extension base="action-container">
				<xs:sequence>
					<xs:element name="container-descriptor" type="xs:string" minOccurs="0"/>
					<xs:element name="search-template" type="xs:anyURI" minOccurs="0"/>
					<xs:element name="current-page" type="xs:int" minOccurs="0"/>
					<xs:element name="available-pages" type="xs:int" minOccurs="0"/>
					<xs:element name="current" type="xs:anyURI" minOccurs="0"/>
					<xs:element name="first" type="xs:anyURI" minOccurs="0"/>
					<xs:element name="next" type="xs:anyURI" minOccurs="0"/>
					<xs:element name="previous" type="xs:anyURI" minOccurs="0"/>
					<xs:element name="last" type="xs:anyURI" minOccurs="0"/>
					<xs:element name="selected-item-index" type="xs:int" minOccurs="0"/>
					<xs:element name="parameter" type="named-parameter" minOccurs="0" maxOccurs="unbounded"/>
					<xs:choice>
						<xs:any namespace="http://www.w3.org/2005/Atom" processContents="lax"/>
						<xs:element ref="xin:include"/>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="tag-selector">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="tag" type="tag"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="template-prompt">
		<xs:sequence>
			<xs:element name="prompt" type="prompt"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="node">
		<xs:complexContent>
			<xs:extension base="abstract-node">
				<xs:sequence>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="node" type="node"/>
						<xs:element name="nodes-include" type="nodes-include"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="label" type="xs:string" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="nodes-include">
		<xs:complexContent>
			<xs:extension base="abstract-node">
				<xs:sequence>
					<xs:element name="parameter" type="named-parameter" minOccurs="0" maxOccurs="unbounded"/>
					<xs:any namespace="##other" processContents="lax"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="abstract-node" abstract="true">
		<xs:group ref="security-information"/>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="type" type="xs:string" use="optional"/>
		<xs:attribute name="tags" type="tag-list" use="optional"/>
		<xs:attribute name="href" type="xs:anyURI" use="required"/>
	</xs:complexType>

	<xs:simpleType name="tag-list">
		<xs:list itemType="xs:token"/>
	</xs:simpleType>

	<xs:complexType name="prompt">
		<xs:sequence>
			<xs:element name="option" type="option" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="type" type="prompt-type"/>
		<xs:attribute name="select-only" type="xs:boolean"/>
	</xs:complexType>

	<xs:complexType name="option">
		<xs:attribute name="value" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="tag">
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="selected" type="xs:boolean"/>
	</xs:complexType>

	<xs:complexType name="xlink-ref-list">
		<xs:sequence>
			<xs:element name="link" type="xlink-ref" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="resource-include">
		<xs:all>
			<xs:element name="fallback">
				<xs:complexType>
					<xs:sequence>
						<xs:any minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attributeGroup ref="href-accept-group"/>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="href-accept-group"/>
		<xs:anyAttribute namespace="##other"/>
	</xs:complexType>

	<xs:attributeGroup name="href-accept-group">
		<xs:attribute name="href" type="xs:anyURI" use="optional"/>
		<xs:attribute name="accept" type="xs:string" use="optional"/>
		<xs:attribute name="accept-language" type="xs:string" use="optional"/>
	</xs:attributeGroup>

	<xs:complexType name="xlink-ref">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="icon" use="optional"/>
				<xs:attribute name="target" use="optional"/>
				<xs:anyAttribute namespace="http://www.w3.org/1999/xlink" processContents="lax"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="views">
		<xs:sequence>
			<xs:element name="content-view" type="view" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="xin:include" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="content-types" use="required"/>
		<xs:attribute name="hidden" type="xs:boolean" use="optional"/>
	</xs:complexType>

	<xs:complexType name="view">
		<xs:complexContent>
			<xs:extension base="action-container">
				<xs:sequence>
					<xs:element name="form-data" type="form-data" minOccurs="0" maxOccurs="unbounded"/>
					<xs:choice>
						<xs:element ref="xhtml-content"/>
						<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="view-title" use="optional" type="xs:string"/>
				<xs:attribute name="hidden" type="xs:boolean" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="form-data">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="xhtml-content"/>
				<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:token"/>
	</xs:complexType>

	<xs:element name="xhtml-content">
		<xs:complexType>
			<xs:choice>
				<xs:any namespace="http://www.w3.org/1999/xhtml" processContents="lax"/>
				<xs:element ref="xin:include"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="status-type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="info"/>
			<xs:enumeration value="warning"/>
			<xs:enumeration value="error"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="prompt-type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="text"/>
			<xs:enumeration value="date"/>
			<xs:enumeration value="number"/>
			<xs:enumeration value="integer"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="content-types">
		<xs:restriction base="xs:string">
			<xs:enumeration value="main"/>
			<xs:enumeration value="details"/>
			<xs:enumeration value="info"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="action-container" abstract="true">
		<xs:sequence>
			<xs:element name="actions" type="actions" minOccurs="0"/>
			<xs:element name="meta-data" type="meta-data-container" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="actions">
		<xs:sequence>
			<xs:element name="action" type="xlink-ref" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="name-with-email">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="email" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="meta-data-container">
		<xs:sequence>
			<xs:element name="meta-entry">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="name" type="xs:string" use="required"/>
							<xs:attribute name="type" type="xs:string" use="optional"/>
							<xs:anyAttribute namespace="##any"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="named-parameter">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute use="required" name="name" type="xs:QName"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

</xs:schema>
